/*
Colour scheme
light purp - #E0ACD5
blue blue - #3993DD
off white - #F4EBE8
Minty Green - #29E7CD
Brown - #6A3E37
*/
body {
    font-family: 'Verdana', sans-serif;
    color: #6A3E37;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: #3993DD;
    font-style: italic;
}

h2 {
    color: #3993DD;
}

h3 {
    margin: auto;
    text-align: center;
    background-color: #29E7CD;
    padding: 10px;
    width: 75%;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

.button{
    background-color: #3993DD;
    color: #F4EBE8;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    transition-duration: 0.1s;
}


.button:hover{
    background-color: rgb(131, 199, 255);
}

.button2{
    background-color: #E0ACD5;
    color: #6A3E37;
}

.button3{
    background-color: #E0ACD5;
    color: #6A3E37;
    font-size: 17px;
    width: 150px;
    height: 30px;
}

.button2:hover{
    background-color: rgb(230, 119, 206);
}

.button3:hover{
    background-color: rgb(230, 119, 206);
}

#mainStuff {
    margin: auto;
    background-color: #F4EBE8;
    box-shadow: 5px 5px 5px;
    width: 45%;
    padding: 10px;
}